{% extends 'base.html' %}
{% block content %}

<div class="hero-banner mt-4" style="background-image: url('{{ url_for('static', filename='img/fondo_cena.jpg') }}');">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1>Bienvenidos a Detalle Añejo</h1>
        <p class="lead text-white mt-3">Gastronomía exclusiva y un ambiente rústico perfecto para compartir.</p>
    </div>
</div>

<div class="text-center mt-5 mb-5">
    {% if current_user.rol == 'administrador' %}
        <h3 class="mb-4">Panel de Administración</h3>
        <p>Bienvenido, {{ current_user.nombre }}. Aquí puedes gestionar tus clientes y organizar la disponibilidad de las mesas.</p>
        <a href="{{ url_for('menu_bp.listar_menus') }}" class="btn btn-elegant mt-2 me-2">Gestionar Menús</a>
        <a href="{{ url_for('reserva_bp.listar_reservas') }}" class="btn btn-elegant mt-2 me-2">Ver Todas las Reservas</a>
        <a href="{{ url_for('usuario_bp.listar_usuarios') }}" class="btn btn-elegant mt-2 me-2">Gestionar Usuarios</a>
        <div class="card card-elegant mt-5 p-4 text-center" style="border: 2px solid #E8D0A5;">
        <h3 style="color: #5C162E;">🧠 Dashboard de Inteligencia Artificial</h3>
        <p class="text-muted">Análisis de datos de Detalle Añejo impulsado por Google Gemini</p>
        
        <div class="d-flex justify-content-center flex-wrap mt-3" style="gap: 15px;">
            <a href="{{ url_for('usuario_bp.analisis_ia_clientes') }}" class="btn btn-warning">
                📊 Analizar Base de Clientes
            </a>
            
            </div>
    </div>

    {% else %}
        <h3 class="mb-4">Tu Próxima Reserva</h3>
        <p>Bienvenido, {{ current_user.nombre }}. Explora nuestros menús de tres tiempos y asegura tu fecha especial.</p>
        <a href="{{ url_for('menu_bp.listar_menus') }}" class="btn btn-elegant mt-2 me-2">Ver Menús Disponibles</a>
        <a href="{{ url_for('reserva_bp.listar_reservas') }}" class="btn btn-outline-secondary mt-2">Mis Reservas</a>
    {% endif %}
</div>
{% endblock %}